.app {
  display: flex;
  flex-direction: row;
  border-radius: 8px;
  margin: auto;
  width: 1000px;
  padding: 20px;
  margin-top: 60px;
  background-color: white;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.calculator {
  margin: 10px 50px;
  height: 518px;
  border-radius: 8px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.expression {
  font-size: 1.2rem;
  margin: 0;
  padding: 10px;
  height: 30px;
  width: 308px;
  background-color: #2b2824;
  color: #aaa;
  overflow: scroll;
  text-align: end;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.result {
  font-size: 2rem;
  margin: 0;
  padding: 10px;
  height: 38px;
  width: 308px;
  background-color: #2b2824;
  color: white;
  text-align: end;
  overflow: scroll;
}

.row {
  display: flex;
  flex-direction: row;
}

.button {
  background-color: #282f37;
  color: white;
  width: 50px;
  height: 50px;
  outline: none;
  padding: 1rem;
  font-size: 1.2rem;
  text-align: center;
  cursor: pointer;
}

.colored-button {
  color: orange;
}

.bottom-left-button {
  border-bottom-left-radius: 8px;
}

.bottom-right-button {
  border-bottom-right-radius: 8px;
}

.logs {
  margin: 10px 50px;
  width: 410px;
}

.history-result {
  font-style: italic;
  font-weight: bold;
  color: #444;
}

.history-expression {
  color: #666;
}

.latest {
  color: #999;
  font-style: italic;
  font-size: 0.8rem;
  margin: 0;
  margin-top: -10px;
}
