.app {
  display: flex;
  flex-direction: row;
  border-radius: 8px;
  margin: auto;
  width: 1000px;
  padding: 20px;
  margin-top: 60px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 8px 24px 0px, rgba(150, 162, 176, 0.54) 0px 1px 3px 0px;
}

.calculator {
  margin: 10px 50px;
  padding: 10px;
}

.expression {
  font-size: 1.2rem;
  margin: 0;
  padding: 10px;
  height: 30px;
  width: 308px;
  background-color: #2b2824;
  color: #aaa;
  overflow: scroll;
  text-align: end;
}

.result {
  font-size: 2rem;
  margin: 0;
  padding: 10px;
  height: 38;
  width: 308px;
  background-color: #2b2824;
  color: white;
  text-align: end;
  overflow: scroll;
}

.row {
  display: flex;
  flex-direction: row;
}

.button {
  background-color: #282f37;
  color: white;
  width: 50px;
  height: 50px;
  outline: none;
  padding: 1rem;
  font-size: 1.2rem;
  text-align: center;
}

.orange-button {
  color: orange;
}

.logs {
  margin: 10px 50px;
  width: 410px;
}

.history-result {
  font-style: italic;
  font-weight: bold;
  color: #444;
}

.history-expression {
  color: #666;
}
